@import url('https://fonts.googleapis.com/css2?family=Glegoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url(./bootstrap.min.css);
@import url(./config.css);
@import url(./global.css);
@import url(./custom.css);
@import url(./responsive.css);




header .navbar{
    width: 100%;
    background-color: #DFA919;
    border-bottom: solid 4px black;
}

header .nav-link{
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;

}

body .navbar-brand{
    font-family: 'Glegoo', serif;
    font-weight: 1000;
    font-size: xx-large;
}

.form-inline {
    margin-left:  10px;
}

.Home{
    background-image: url(https://media-public.canva.com/-sJVU/MAEV5x-sJVU/1/s.jpg);
     width: 100%;
     height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;
}

#frontpage{
    padding-top: 450px;
    padding-bottom: 10px;
    color: black;
    font-family: 'Glegoo', serif;
    font-size: 2rem;
    text-align:center;
}

#orçamento{
    color: black;
    font-family: 'Glegoo', serif;
}
.vantagens{
    background-color: #2B2828;
    font-family: 'Comfortaa', cursive;
    position: relative;
}

#vantagens{
    color: #FFDC14;
    padding-top: 20px;
    text-align: center;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

#imgvantagens{
    width: 60%;
    align-items: center;
    margin-left: 10px;
}

#Titulos{
    text-align: center;
    color: #FFDC14;
}

.vantagens #content{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
}